<nav>
    <a target="_blank" href="https://webpages.charlotte.edu/jvarga21/">Webspaces</a> ||
    <a target="_blank" href="https://github.com/Jvargas40">GitHub</a> ||
    <a target="_blank" href="https://jvargas40.github.io/itis3135/">GitHub.io</a> ||
    <a target="_blank" href="http://www.linkedin.com/in/jayden-vargas-417163252">LinkedIn</a> ||
    <a target="_blank" href="https://www.freecodecamp.org/JAYVAR21">freeCodeCamp</a> ||
    <a target="_blank" href="https://www.codecademy.com/profiles/JAYVAR21">Codecademy</a>
</nav>

<p>Designed by <a href="techacegaming.com">Tech Ace Gaming</a> © 2025, 
    <em>Certified in <a href="https://www.freecodecamp.org/certification/JAYVAR21/responsive-web-design">Responsive Web Design</a>.</em></p>


<a href="https://validator.w3.org/check?uri=referer">
    <img style="border:0;width:88px;height:31px"
        src="https://www.w3.org/Icons/valid-html401" alt="Valid HTML!">
</a>        

<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss"
        alt="Valid CSS!">
</a>